* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

select {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

main {
  height: 100%;
}

.grid {
  display: grid;
}
.grid > * {
  display: none;
}

.grid.grid-vertical {
  grid-template-columns: 1fr 4px 1fr;
}
.grid.grid-vertical.grid-l-aside {
  grid-template-columns: 1fr 2.5fr 4px 2.5fr;
}
.grid.grid-vertical.grid-r-aside {
  grid-template-columns: 2.5fr 4px 2.5fr 1fr;
}
.grid.grid-vertical.grid.grid-both-aside {
  grid-template-columns: 1fr 2fr 4px 2fr 1fr;
}

.grid.grid-horizontal {
  grid-template-rows: 1fr 4px 1fr;
}
.grid.grid-horizontal.grid-l-aside {
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4px 1fr;
}
.grid.grid-horizontal.grid-r-aside {
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 4px 1fr;
}
.grid.grid-horizontal.grid-both-aside {
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4px 1fr;
}

.grid.grid-horizontal.grid-l-aside > aside:nth-of-type(1) {
  grid-row: 1 / 4;
}
.grid.grid-horizontal.grid-r-aside > aside:nth-of-type(2) {
  grid-row: 1 / 4;
  grid-column: 2 / 3;
}
.grid.grid-horizontal.grid.grid-both-aside > aside:nth-of-type(1) {
  grid-row: 1 / 4;
}
.grid.grid-horizontal.grid.grid-both-aside > aside:nth-of-type(2) {
  grid-row: 1 / 4;
  grid-column: 3 / 4;
}

.grid.grid-vertical > section:nth-of-type(1),
.grid.grid-horizontal > section:nth-of-type(1),
.grid.grid-vertical > section:nth-of-type(2),
.grid.grid-horizontal > section:nth-of-type(2) {
  display: initial;
}

.grid.grid-both-aside > aside:nth-of-type(1),
.grid.grid-l-aside > aside:nth-of-type(1) {
  display: initial;
}
.grid.grid-both-aside > aside:nth-of-type(2),
.grid.grid-r-aside > aside:nth-of-type(2) {
  display: initial;
}

.grid > hr {
  margin: 0;
  padding: 0;
  border: none;
  background: lightslategray;
  display: block;
}
.grid.grid-horizontal > hr {
  height: 4px;
  width: 100%;
  cursor: ns-resize;
}
.grid.grid-vertical > hr {
  width: 4px;
  height: 100%;
  cursor: ew-resize;
}
